#header-div {
  display: grid;
  height: 70px;
  background-color: rgb(218, 21, 21);
  margin-bottom: 30px;
}

#player-turn {
  color: white;
  margin: auto;
}

#background {
  height: 600px;
  width: 600px;
  margin: auto;
  background-color: rgb(236, 213, 164);
  display: grid;
  border-radius: 6px;
}

#board {
  height: 560px;
  width: 560px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  border-style: solid;
  border-radius: 3px;
  border-color: rgb(135, 93, 55);
}

.cream-square, .brown-square {
  height: 100%;
  width: 100%;
  margin: auto;
  display: grid;
}

.brown-square {
  cursor: pointer;
  background-color: rgb(135, 93, 55);
}

.cream-square {
  background-color: rgb(236, 213, 164);
}

.black-piece, .white-piece {
  margin: auto;
  height: 72%;
  width: 72%;
  border: solid;
  border-radius: 50%;
  border-width: 7px;
}

.black-piece {
  background-color: rgb(64, 64, 64);
}

.white-piece {
  background-color: white;
  border-color: rgb(213, 204, 189);
}

/* .mov-pos {
  height: 100%;
  width: 100%;
  background-color: rgb(132, 232, 132);
  opacity: 70%;
} */